body {
	height: 100%;
	margin: 0;
	background-image: url(../images/bg-login.png);
}
section {
	height: 18em;
	background-image: url(../images/bg-login-top.png);
	margin: 0;
	text-align: center;
}
img {
	margin-top: 10em;
}
form {
	text-align: center;
}
label {
	color: white;
}
input {
	font-size: 1.25em;
	border-radius: .3em;
	height: 1.65em;
	width: 10.5em;
	margin: 1em 0 0 1em;
}
p {
	margin: 0;
	color: white;
}
button {
	background-color: #599E20;
	color: white;
	width: 6em;
	height: 2em;
	border: none;
	border-radius: .3em;
	margin: 1em 0 0 21em;

}